# Todos os ficheiros requerem aprovação de pelo menos um owner
* @pedro.h.moura @andre.s.aguiar @daniel.q.silva @domingos.bento @francisco.m.terra @filipe.n.santos @isabel.a.pinheiro @joao.t.castro @pedro.rodrigues @vitor.tinoco